<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roommateys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomMateys">
        <activity
            android:name=".PostSignInActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ShoppingActivity"
            android:exported="true" />
        <activity
            android:name=".ChoreActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".MessageActivity"
            android:exported="true" />
        <activity
            android:name=".FirebaseUIActivity"
            android:exported="true">

            <!-- Move this back to Login activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="roommateys.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${apiKey}" />
    </application>

</manifest>